@model QLTV.Models.Monhoc

@{
    ViewData["Title"] = "Create";
}

<h2>Thêm Môn học</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MonhocId" class="control-label"></label>
                <input asp-for="MonhocId" class="form-control" />
                <span asp-validation-for="MonhocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMH" class="control-label"></label>
                <input asp-for="MaMH" class="form-control" />
                <span asp-validation-for="MaMH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMH" class="control-label"></label>
                <input asp-for="TenMH" class="form-control" />
                <span asp-validation-for="TenMH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhoaQL" class="control-label"></label>
                <input asp-for="KhoaQL" class="form-control" />
                <span asp-validation-for="KhoaQL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
